<!DOCTYPE html>
<html>

<head>
</head>

<body><% if (addImage) { %>
    <div<% if (includeBootstrap) { %> class="text-center"<% } %>>
    <img src='resource/image.png' alt='' />
    </div><% } %>
    <p<% if (includeBootstrap) { %> class="text-center"<% } %>><%= description %></p><% if (addHelp) { %>
    <p<% if (includeBootstrap) { %> class="text-center"<% } %>>
    <a href='https://github.com/yadickson/generator-ajsweb#readme'>See AngularJS Web Generator Help</a>
    </p><% } %>
</body>

</html>
